<div id="comments">
    {{#each this}}
    <article class="card comment-card">
        <div class="card-header card-header-title is-flex is-justify-content-space-between" style="background-color: rgb(228, 228, 228);">
            <p>{{user.username}}</p>
            <span>{{date_format created_at}}</span>
        </div>
        <div class="card-content comment" >
            {{comment_text}}
        </div>
    </article>
    <br/>
    {{/each}}
</div>