{{!-- pass in an array of Comments, which has been JOINed with Users that posted --}}
<div id="comments">
    {{#each this}}
    <article class="card">
        <div class="card-header card-header-title is-flex is-justify-content-space-between">
            <p>{{user.username}}</p>
            <span>{{date_format created_at}}</span>
        </div>
        <div class="card-content">
            {{comment_text}}
        </div>
    </article>
    <br />
    {{/each}}
</div>