<article class="container my-4">
	<div class="columns is-multiline is-centered is-variable is-1-mobile is-1-tablet is-3-desktop is-8-widescreen is-1-fullhd">
		{{#each this}}
		<div class='column is-one-fourth'>
			<div class='card equal-height'>
				<div class='card-content is-flex'>
					<figure class='image'> <img src="{{image_url}}" alt="" class="image-style">
					</figure>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</article>