<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{! post-info partial/image}} alt="{{! post-info partial/alt}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{! post-info partial/title}}</p>
        <p class="subtitle is-6">{{! post-info partial/category}}</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
      <time>{{! post-info-partial/last-edit}}</time>
    </div>
  </div>
</div>