<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<form class="search-form" id="search-form">
	<div>
		<textarea name="search-term" placeholder="...looking for something specific?"></textarea>
	</div>
	<div>
		<button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
	</div>
</form>
{{!--<script src="/javascript/search.js"></script>--}} 
{{!--TODO - write search.js in public/javascript--}}