<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiPleiades</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
    <div class="bg-body"></div>
    <div class='container'>
        <div class='hero'>
            <nav class="level m-6 has-text-weight-semibold">
                <p class="level-item">
                    <a class="link is-info" href='/'>Home</a>
                </p>
                {{#if loggedIn}}
                <p class='level-item has-text-centered'>
                    <a class='link is-info' href='/article/create'>New Article</a>
                </p>
                {{else}}
                <p class="level-item has-text-centered">
                    <a class="link is-info" href='/signup'>Sign Up</a>
                </p>
                {{/if}}
                <div class="level-item has-text-centered">
                    <img src="/images/WikiPleiades_invert.png" alt="wikipeiades logo" style="height: 50px;">
                </div>
                {{#if loggedIn}}
                <p class="level-item has-text-centered">
                    <a id='logout' class="link is-info" href='/logout'>Logout</a>
                </p>
                {{else}}
                <p class="level-item has-text-centered">
                    <a class="link is-info" href='/login '>Login</a>
                </p>
                {{/if}}
                <p class='level-item has-text-centered'>
                    <a class='link is-info' href="/random">Random</a>
                </p>
            </nav>
            <article class="section is-small">
                <form id="search-form">
                    <div class="field has-addons" id='search-bar'>
                        <div class="control">
                            <input class="input" name="search-bar" type="text" placeholder="To the stars...">
                        </div>
                        <div class="control" id='search'>
                            <button class="button is-link" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </article>
        </div>
        <main>
            {{{body}}}
        </main>
    </div>
    <footer></footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/search.js"></script>
</body>

</html>