<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiPleiades</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css'>
</head>
<body>
    <div class='container'>
        <header class='hero'>
            <nav class="level">
            <p class="level-item has-text-centered">
                <a class="link is-info">Home</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info">Search</a>
            </p>
            <p class="level-item has-text-centered">
                <img src="../../images/WikiPleiades.png" alt="" style="height: 30px;">
            </p>
            {{#if loggedIn}}
            <p class="level-item has-text-centered">
                <a class="link is-info">Login</a>
            </p>
            {{else}}
            <p class="level-item has-text-centered">
                <a class="link is-info">Logout</a>
            </p>
            {{/if}}
            <p class='level-item has-text-centered'>
                <a class='link is-info'>Random</a>
            </p>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
    </div>
</body>