<div>
    <h2 class="title">Revision History of this article:</h2>
    <ul id="revision-history">
        {{#each history}}
        <li class="card">
            <div class="card-header card-header-title is-flex is-justify-content-space-between">
                <p>
                    Revision added by {{user.username}} on 
                    {{date_format created_at}}
                </p>
                <div>
                    <button data-id="{{id}}" class="button is-danger">Revert to this Revision</button>
                    <button data-link="{{id}}" class="button is-warning">View this Revision</button>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<script src="/javascript/revert.js"></script>
<script src="/javascript/history.js"></script>