<section class='section'>
    <h1 class='title'>WikiPleiades</h1>

    <h2 class='subtitle'>Gateway to the Stars</h2>
</section>
<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="To the stars...">
  </div>
  <div class="control">
    <a class="button is-info">
      Search
    </a>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>WikiPleiades</strong> is <span>{{count}}</span> articles strong.
    </p>
  </div>
</footer>