

<div class='m-6'>
  <div class="content has-text-centered">
    <p>
      <strong>WikiPleiades</strong> is <span>{{count}}</span> articles strong.
    </p>
  </div>
</div>
<div class="section is-small is-flex is-justify-content-center m-6">
  <figure class="image">
    <img src="/images/spaceman.jpg" style="opacity: 0.4; height: 400px; width:420px;" class="is-rounded">
  </figure>
</div>
<script src="/javascript/search.js"></script>