<div class='section m-6'>

  <div class="content has-text-centered">
    <p>
      <strong>WikiPleiades</strong> is <span>{{count}}</span> articles strong.
    </p>
  </div>
</div>
<script src="/javascript/search.js"></script>