<div class='section is-small m-6'>
  <div class="content has-text-centered">
    <p>
      <strong>WikiPleiades</strong> is <span>{{count}}</span> articles strong.
    </p>
  </div>
</div>
<script src="/javascript/search.js"></script>
<div class="is-centered">
  <div class="hero-foot is-info">
    <nav class="tabs">
      <div class="container">
    </nav>
  </div>
</div>
<div class='column'>
  <div>
    <figure class="image is-5by4">
      <img src="/images/spaceman.jpg" style="opacity: 0.5;" class="is-rounded">
    </figure>
  </div>
</div>