<form id="search-form">
  <div class="field has-addons" id='search-bar'>
    <div class="control">
      <input class="input" name="search-bar" type="text" placeholder="To the stars...">
    </div>
    <div class="control" id='search'>
      <button class="button is-link" type="submit">
        Search
      </button>
    </div>
  </div>
</form>
<div class='section'>
  <div class="content has-text-centered">
    <p>
      <strong>WikiPleiades</strong> is <span>{{count}}</span> articles strong.
    </p>
  </div>
</div>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/javascript/search.js"></script>