<div class='hero-body'> 
{{!--TODO - put ID's for script back in--}}
        <div class='columns'>
            <div class='column'>
                <form class='box'>
                    <div class='card'>
                        <div class='card-content login-form'>
                            <p class='title'>
                                Already a Member?
                            </p>
                            <p class='subtitle'>
                                Sign In to continue.
                            </p>
                                <div class='field'>
                                    <label class='label'>Email</label>
                                    <div class='control has-icons-left'>
                                        <input class='input' type='email' id='email-login' placeholder='Email Address'>
                                        <span class='icon is-small is-left'>
                                            <i class='fas fa-envelope'></i>
                                        </span>
                                    </div>
                                </div>
                                <div class='field'>
                                    <label class='label'>Password</label>
                                    <div class='control has-icons-left'>
                                        <input class='input' type='text' id='password-login' placeholder='Password'>
                                        <span class='icon is-left'>
                                            <i class='fas fa-lock'></i>
                                        </span>
                                    </div>
                                </div>
                                <footer class='card-footer'>
                                    <p class='card-footer-item'>
                                        <button type='submit'>
                                            Login
                                        </button>
                                    </p>
                                </footer>
                            </div>
                        </div>
                    </form>
                    <div class = "hero-foot is-info">
                        <nav class = "tabs">
                            <div class = "container">
                                <ul>
                                    <li><a href='/signup'>Signup instead</a></li>
                                    <li><a href='/homepage'>Home</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
            </div>
                <div class='column'>
                    <figure class="image is-6by3 armstrong">
                        <img src="/images/bowie_quote.png">
                    </figure>
                </div>
        </div>
    </div>
    <script src="/javascript/login.js"></script>