<div class='card'>
    <div class='card content login'>
        <p class='title'>
            New Article
        </p>
        <p class='subtitle'>
            Your own Pillars of Creation
        </p>
        <div class='field'>
            <label class='label'>Article Title</label>
            <div class='control'>
                <input class='input' type='text' placeholder='To Infinity, and Beyond'>
            </div>
        </div>
        <div class='field'>
            <label class='label'>Article Info</label>
            <div class='control'>
                <textarea class='textarea is-large' placeholder='Include as much information as you can. Be sure to include basics like which type of celestial body, mass, and if applicable which constellations in which it can be found. Citations are also appreciated.'></textarea>
            </div>
        </div>
        <div class='field'>
            <label class='label'>Sources</label>
            <div class='control'>
                <textarea class='textarea is-small' placeholder='Please include any cited sources'></textarea>
            </div>
        </div>
        <div class='field'>
            <label class='label'>Image</label>
            <div class='control'>
                <input class='input' type='text' placeholder='Please include a related image URL.'>
            </div>
        </div>
    </div>
</div>