<article class="box">
	<h1 style="font-size: 2rem;">
		Search Results:
	</h1>
</article>
<section>
	<ol>

		{{#each this}}
		<li></li>
		{{!-- {{#if articles.length}}--}}
		<article class="card comment-card">
			<div
				class="card-header card-header-title is-flex is-justify-content-space-between has-background-grey-lighter">
				<p>{{article.title}}</p>
				{{!--<span>{{date_format created_at}}</span>--}}
			</div>
			</li>
			<br />
		</article>
		{{/each}}
	</ol>
</section>
{{!--{{else}}--}}
{{!--<section>
	<div style="display: flex; justify-contents:center; align-items:center; flex-direction: column;">
		<h2 class="post-header" style="font-size: 1.5rem;">We couldn't find any articles that matched those terms.</h2>
		</br>
		<img src="../images/blackhole.jpg" alt="black hole" style="height: 450px; opacity: 0.5; padding: 50px;">
	</div>
</section>--}}
{{!--{{/if}}--}}