<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<article style="margin: 100px; ">
	<div class="field has-addons">
		<div class="control">
			<input class="input" type="text" placeholder="To the stars...">
		</div>
		<div class="control" id='search'>
			<a class="button is-info">
				Search &emsp; <i class="fas fa-search"></i>
			</a>
		</div>
	</div>
</article>
<script src="/javascript/search.js"></script>