{{!--TODO - put ID's for script back in--}}

<div class='columns'>
    <div class='column'>
        <form class='box signup-form'>
            <p class='title'>
                New Member Signup
            </p>
            <p class='subtitle'>
                Welcome Aboard
            </p>
            <div class='field'>
                <label class='label'>Username</label>
                <div class='control has-icons-left'>
                    <input class='input' id="username-signup" type='username' placeholder='Space Name'>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" id='email-signup' placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class='field'>
                <label class='label'>Password</label>
                <div class='control has-icons-left'>
                    <input class='input' type='password' id='password-signup' placeholder='We promise not to tell'>
                    <span class='icon is-small is-left'>
                        <i class='fas fa-key'></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type='submit' class="button is-link"><i class="fas fa-user-astronaut"></i> &emsp;Submit</button>
                </div>
                <a href="/login" class="button is-link is-light">
                    <i class="fas fa-meteor"></i>&emsp;Cancel
                </a>
            </div>
        </form>
    </div>
    <div class='column'>
        <div class='box'>
            <figure class="image is-6by3 armstrong">
                <img src="/images/armstrong_quote.jpeg">
            </figure>
        </div>
    </div>
</div>
<script src="/javascript/signup.js"></script>